main,
.full {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1100px) 1fr;
}

.full {
  grid-column: 1/-1;
}

main > *,
.full > * {
  /* main > *, .full > * */
  grid-column: 2/3;
}

.top_pic {
  width: 75%;
  margin-left: 190px;
}

.top {
  text-align: center;
}

.full {
  background-color: #fce0f9;
}

.store_kager {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.overskrift_minikager {
  text-align: start;
}

.minikager_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.overskrift_storkage {
  text-align: center;
  margin: 30px;
}

.pris_2 {
  text-align: center;
  margin: 30px;
}

img {
  margin: 30px;
}

.tekst_storkage {
  padding-left: 20px;
  line-height: 30px;
}

.butikker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.form_grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col {
  width: 50%;
}

form {
  width: 80%;
  padding: 10px;
  align-content: flex-start;
}

.form-felt-1 {
    place-self: start;
    text-align: start
    
}

.form-felt-2 {
    place-self: start;
    text-align: start;
}

input {
  width: 75%;
  border: solid #fce0f9;
  padding: 12px 0;
  background-color: #fffacd;
  border: 5px solid #fce0f9; 
}

select {
  color: #c1181c;
  
  padding: 12px 20px;
  background-color: #fffacd;
  border: 5px solid #fce0f9;
}

#tel {
  width: 120%;
}

#emne {
  width: 91%;
}

#besked {
  background-color: #fffacd;
  padding: 12px 0;
  border: 5px solid #fce0f9;
}

.button {
  background-color: #fce0f9;
  padding: 15px;
  border-radius: 10px;
}
label {
  font-size: 15px;
  color: #c1181c;
  font-family: "Poppins_Regular", sans-serif;
}

input:focus{
  outline: 3px solid #c1181c;
}

#besked:focus {
 outline: 3px solid #c1181c;
}

.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

