.top {
    text-align: center;
}

.mini_kager {
    background-color: #FCE0F9;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.overskrift_minikager {
    text-align: start;
}

.overskrift_storkage {
    text-align: center;
    margin: 30px;
}

.pris_2 {
    text-align: center;
    margin: 30px;
}

img {
    margin: 30px;
}

h1, h2, h3, p, h4, h5, a  {
    margin: 20px;
}

.tekst_storkage {
    padding-left: 20px;
    line-height: 30px;
}

.col {
    width: 50%;
}

.bestil_vare {
    background-color: #FCE0F9;
}

.form_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
}
.form_1 > div:nth-child(1){

    place-self: start;
    text-align: start;
}

.form_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form {
    width: 100%;
    padding: 10px;
    align-content: flex-start;

}

input  {
    color: #C1181C; 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #FCE0F9;  
    border-bottom: 10px #C1181C;
}

select {
    color: #C1181C; 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:  #FCE0F9;
}

#emne {
    width: 100%;
    /*margin-left: 128px;*/
}