.mini_kager {
    background-color: #FCE0F9;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h4 {
    text-align: center;
    margin: 30px;
}

.pris {
    text-align: center;
    margin: 30px;
}

img {
    margin: 30px;
}
/*.form_1  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
}

.form_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%
}

#emne {
    width: 38%;
}

#besked {
    width: 38%;
}*/