/* Footer */
footer {
  background-color: #fce0f9;
  padding-block: 50px;
  margin-inline: 0;
}
footer p {
  color: #c1181c;
  font-family: "Poppins_Regular", sans-serif;
  font-size: 15px;
  padding-bottom: 6px;
  text-decoration: none;
  margin: 0;
}

footer a {
  color: #c1181c;
  font-family: "Poppins_Regular", sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 6px;
  display: block;
  margin: 0;
}
h5 {
  font-size: 18px;
  color: #c1181c;
  margin: 0;
  padding-bottom: 5%;
  font-family: "Poppins_Regular", sans-serif;
}
.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.box {
  margin-left: 30px;
}
