/* Fyld ud på siden med padding */
main,
.full {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1100px) 1fr;
}

.full {
  grid-column: 1/-1;
}

main > *,
.full > * {
  /* main > *, .full > * */
  grid-column: 2/3;
}

section {
  margin-bottom: var(--space-lg);
}
section h2 {
  margin-bottom: var(--space-md);
  margin-top: var(--space-md);
  text-align: center;
}
.om_os {
  background-color: var(--tertiary);
  padding: var(--space-xs);
}
.usp {
  border: 2px solid var(--brand_color);
  padding: var(--space-md);
  text-align: center;
  border-inline: 0;
}
@media (min-width: 600px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .grid_1-2 img {
    height: 340px;
    width: 300px;
  }
}
/* Åbningstider */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  place-items: center;
}
.container img,
.container .ps,
.container h2 {
  grid-area: 1/1;
  transition: 0.3s;
}

.container h2 {
  font-size: var(--font-lg);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  place-items: center;
  text-align: center;
}

.container p {
  font-size: var(--font-sm);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  place-self: center;
  text-align: center;
}
.container .ps {
  opacity: 0;
  z-index: 3;
}
.container img {
  opacity: 85%;
}
.container h2 {
  z-index: 3;
}
.container:hover h2 {
  opacity: 0;
}
.container:hover .ps {
  opacity: 1;
  display: block;
}

.container:hover img {
  transform: scale(1.1);
  opacity: 30%;
}
