.om_os {
  background-color: #fce0f9;
  padding: 30px;
  gap: 20px;
}
.usp {
  border: 2px solid #c1181c;
  padding: 10px;
  text-align: center;
  gap: 800px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 30px;
  padding-bottom: 30px;
}
.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  place-items: center;
}
.container img,
.container p,
.container h2 {
  grid-area: 1/1;
  transition: 0.3s;
}

.container p {
  opacity: 0;
  z-index: 3;
}
.container img {
  opacity: 85%;
}
.container h2 {
  z-index: 3;
}
.container:hover h2 {
  opacity: 0;
}
.container:hover p {
  opacity: 1;
  display: block;
}

.container:hover img {
  transform: scale(1.1);
  opacity: 50%;
}
