.grid_butikker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.grid_kontakt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

h2 {
  display: flex;
  place-content: center;
  margin-block: 40px;
}

.grid_job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.grid_forhandlere {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

section .grid_job {
  background-color: #f5e5f4;
}

section .grid_butikker {
  padding: 60px 0px 60px 0px;
}
