main,
.full {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

.full {
  grid-column: 1/-1;
}

main > *,
.full > * {
  /* main > *, .full > * */
  grid-column: 2/3;
}

/*kontakt section*/
@media (max-width: 600px) {
  .grid_kontakt .boks a,
  .grid_kontakt .boks p {
    font-size: 15px;
  }

  .section4,
  .section2,
  .grid_job p,
  .grid_job h2 {
    padding-inline: 10px;
  }

  .grid_job {
    padding-block: 30px;
  }
}
@media (min-width: 700px) {
  .grid_kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 8%;
  }
}
.grid_kontakt {
  margin-inline-start: 2%;
}

.grid_kontakt .boks {
  border-left: solid #c1181c;
  margin-block: 10%;
}

.grid_kontakt a {
  place-content: start;
  display: block;
  padding: 10px 0px 10px 10px;
  font-size: var(--font-xs);
  color: #c1181c;
  text-decoration: none;
  font-family: "Poppins_Regular", sans-serif;
}

.grid_kontakt p {
  padding: 10px 10px 0px 10px;
  font-size: var(--font-xs);
}

.grid_kontakt h3 {
  font-size: 30px;
  padding: 0px 0px 5px 10px;
}

.section1 h2 {
  display: flex;
  place-content: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

.ios,
.android {
  font-weight: bold;
}

/*Bagt family section*/

@media (min-width: 800px) {
  .grid_job {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding-block: 40px;
  }

  .boks_order {
    order: 1;
  }
}

@media (max-width: 600px) {
  strong {
    font-size: 15px;
  }
}

.boks_order {
  padding-bottom: 10%;
}

.section2 {
  background-color: #fce0f9;
}

.section2 img {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-inline: auto;
  width: 70%;
}

.grid_job p {
  padding-top: 30px;
  color: black;
}

.grid_job h2 {
  color: black;
}

.stillinger {
  font-family: "Poppins_Medium", sans-serif;
  font-weight: 800;
  text-align: center;
}

.grid_job a {
  font-size: 22px;
  color: black;
  text-decoration: none;
  font-family: "Poppins_Medium", sans-serif;
}

/*Butikker section*/

.section3 h2 {
  display: flex;
  place-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*maries*/

@media (max-width: 680px) {
  .boks_helligdag {
    padding-block: 30%;
  }
  .boks_helligdag {
    padding-block: 20%;
  }
}

.grid_butikker {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.grid_butikker img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid_butikker .boks,
.boks_helligdag {
  display: grid;
  place-items: center;
}
.grid_butikker .boks img,
.grid_butikker .boks .ps,
.boks_helligdag .ps,
.grid_butikker .boks h3,
.boks_helligdag h3 {
  grid-area: 1/1;
  transition: 0.3s;
}

.grid_butikker .boks h3,
.boks_helligdag h3 {
  font-size: var(--font-lg);
  color: var(--brand_color);
  font-family: "Poppins_Medium", sans-serif;
  text-transform: uppercase;
  place-items: center;
  text-align: center;
}

.grid_butikker .boks p,
.boks_helligdag p {
  font-size: var(--font-sm);
  color: var(--brand_color);
  font-family: "Poppins_Medium", sans-serif;
  place-self: center;
  text-align: center;
}
.grid_butikker .boks .ps,
.boks_helligdag .ps {
  opacity: 0;
  z-index: 3;
}
.grid_butikker .boks img {
  opacity: 85%;
}
.grid_butikker .boks h3,
.boks_helligdag h3 {
  z-index: 3;
}
.grid_butikker .boks:hover h3,
.boks_helligdag:hover h3 {
  opacity: 0;
}
.grid_butikker .boks:hover .ps,
.boks_helligdag:hover .ps {
  opacity: 1;
  display: block;
}

.grid_butikker .boks:hover img {
  transform: scale(1.1);
  opacity: 30%;
}

.boks_helligdag {
  background-color: #fce0f9;
  transition: 0.3s;
}

.grid_butikker a {
  place-content: start;
  display: inline;
  font-size: var(--font-sm);
  color: var(--brand_color);
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins_Regular", sans-serif;
}

.boks_helligdag:hover {
  transform: scale(1.1);
}

/*Forhandlere section*/

@media (min-width: 1100px) {
  .grid_forhandlere {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 1100px) {
  .grid_forhandlere {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .section4 h3 {
    font-size: 20px;
  }
}

.grid_forhandlere {
  margin-bottom: 10%;
}

.grid_forhandlere .boks {
  background-color: #fce0f9;
  padding: 20px 20px 120px 20px;
  margin-bottom: 10px;
}

.grid_forhandlere p {
  padding-block: 8px;
  padding-inline-start: 10px;
}

.section4 h2 {
  display: flex;
  place-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.grid_forhandlere h3 {
  padding-block: 30px;
  padding-inline-start: 10px;
}
