/* Farver 
Lyserød: #FCE0F9
Gul: #FFFACD
RØD: #C1181C
*/
html {
  --brand_color: #c1181c;
  --secondary: #fffacd;
  --tertiary: #fce0f9;
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 30px;
  --space-xl: 40px;
  --space-xxl: 50px;
  --font-xxs: 20px;
  --font-xs: 22px;
  --font-sm: 25px;
  --font-md: 35px;
  --font-lg: 40px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* main :not(.usp, .om_os, .mini_kager, .bestil_vare, .form_1 > div:nth-child(1), .form_1 > div:nth-child(2), .form_2 > div:nth-child(1), div.form_felt:nth-child(2), footer) {
  max-width: 1200px;
  margin-inline: auto;
} */
/* main {
  max-width: 1200px;
  margin-inline: auto;
}
*/
/*IMAGES*/
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--secondary);
}
/* FONTE */

h1 {
  font-size: var(--font-lg);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h2 {
  font-size: var(--font-lg);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h3 {
  font-size: var(--font-md);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h4 {
  font-size: var(--font-sm);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h5 {
  font-size: var(--font-xxs);
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p {
  font-size: var(--font-xs);
  color: var(--brand_color);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* LOGO FONT*/
body {
  font-family: stix-two-math, serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--secondary);
}

/* Logo */
.logo {
  width: 30%;
  margin-inline-start: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

ul {
  display: flex;
  flex-flow: wrap;
  list-style: NONE;
  border-top: solid var(--brand_color);
  margin-inline: 30px;
  padding: 10px 0px 10px 0px;
  justify-content: end;
  gap: 8px;
}

header a {
  color: var(--brand_color);
  font-size: 20px;
  padding-left: 80px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
header a:visited {
  color: var(--brand_color);
  font-size: 20px;
  padding-left: 80px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: solid;
}

/* burgermenu */
.main-menu ul {
  list-style: none;
  padding: 0;
  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 1rem;
}
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  display: none;
  font-size: 22px;
  color: var(--brand_color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media (max-width: 700px) {
  .toggle-btn {
    display: block;
  }
  .main-menu.shown {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    padding-top: 1rem;
    display: flex;
    flex-flow: wrap;
    flex-basis: 100%;
  }
}
