/*.billede1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}*/

.overskrift {
    text-align: center;
  }

  .paragraf{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}