/*.billede1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}*/



main,
.full {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1100px) 1fr;
}

.pink {
  background-color: #F6E1F7;
}

.full {
  grid-column: 1/-1;
}

main > *,
.full > * {
  /* main > *, .full > * */
  grid-column: 2/3;
}


.overskrift {
  text-align: center;
  margin-top: 30px;
    margin-bottom: 30px;
}

  .paragraf{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gridbillede{
  padding:var(--space-md)
}
/*
.pinktext{
  color:#F6E1F7
}
*/
.roed .grid_1-2 p {
  padding:var(--space-sm);
color:#F6E1F7;
}

.roed .grid_1-2 h1 {
  padding:var(--space-sm);
  color:#F6E1F7;
  }

  .roed .grid_2-1 p {
    padding:var(--space-sm);
  color:#F6E1F7;
  }
  
  .roed .grid_2-1 h1 {
    padding:var(--space-sm);
    color:#F6E1F7;
    }

.paragraf {
  margin-top: 30px;
  margin-bottom: 30px;
}


.roed{
  background-color: var(--brand_color);
  padding: var(--space-sm);
  margin-top: 0px;
  margin-bottom: 70px;
}


@media (min-width: 1100px) {
  .grid_forhandlere {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 1100px) {
  .grid_forhandlere {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .section4 h3 {
    font-size: 20px;
  }
}
@media (max-width: 600px){
.grid_1-2,.grid_2-1 {
  display: grid;
  grid-template-columns: 1fr;
}
}

.grid_forhandlere {
  margin-bottom: 10%;
}

.grid_forhandlere .boks {
  background-color: #fce0f9;
  padding: 20px 20px 120px 20px;
  margin-bottom: 10px;
}

.grid_forhandlere p {
  padding-block: 8px;
  padding-inline-start: 10px;
}

.section4 h2 {
  display: flex;
  place-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.grid_forhandlere h3 {
  padding-block: 30px;
  padding-inline-start: 10px;
}

.vaerdier{
  font-size: 28px;
}

.mel{
  padding-bottom: 40px;
}


