/* Footer */
footer {
  background-color: #fce0f9;
  font-size: 15px;
  color: #c1181c;
  font-family: "Poppins_Regular", sans-serif;
}
h5 {
  font-size: 20px;
  color: #c1181c;
  font-family: "Poppins_Regular", sans-serif;
}
